APP_NAME="FriendlyStay API"
APP_ENV=production
APP_KEY=base64:7K5V/YJ0S5K43F24xR8z7P/vH5H3Y4X5Z6W7E8R9T0Y=
APP_DEBUG=false
APP_URL=https://green-quail-458567.hostingersite.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u363724345_friendlystay
DB_USERNAME=u363724345_user
DB_PASSWORD=YOUR_DB_PASSWORD

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=friendlystay1@gmail.com
MAIL_PASSWORD=srysazzyzojmebhh
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="friendlystay1@gmail.com"
MAIL_FROM_NAME="FriendlyStay Homestay"
MAIL_TO_ADDRESS="friendlystay1@gmail.com"

JWT_SECRET=friendlystay_secret_key_2024_secure_prod_token
